<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Inzeraty</h1>
    <%= link_to "Pridat Inzerat", new_item_path, class: "btn btn-primary" %>
  </div>

  <div class="list-group">
    <%= render @items %> 
  </div>
</div>