<h1>detial inzeratu</h1>

<p>
    <%= link_to "Spat", items_path %>
</p>

<%= @item.name %><br>
<%= @item.price %>

<p>
    <%= link_to "Odstranit", item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Urcite?"} %>
</p>