<h2><%= @category.name %></h2>

<div class="list-group">
  <%= render @category.items %>
</div>

<% if @category.items.empty? %>
  <p class="alert alert-warning">V tejto kategorii sa nenachadzaju ziadne inzeraty</p>
<% end %>